extends layout

block content
  form(action="/register" method="post")
    div
      label(for="") Username
      input(type="text" name="username")
    div
      label(for="") Email
      input(type="email" name="email")
    button(type="submit") register

    