<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title=title
    <!-- UIkit CSS -->
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
  body

    nav.uk-navbar-container(uk-navbar='')
      .uk-navbar-left
        ul.uk-navbar-nav
          li.uk-active
            a(href='/') Home
          li.uk-active
            a(href='/home') Auctions
          
      .uk-navbar-right
        ul.uk-navbar-nav
          if user
            li
              a(href='#')=user.username
              .uk-navbar-dropdown
                ul.uk-nav.uk-navbar-dropdown-nav
                  li.uk-active
                    a(href='/profile') profile
                  li
                    a(href='/logout') logout
          else
            li.uk-active
              a(href='/login') Login
            li
              a(href='/signup') Signup
  

    block content

    <!-- UIkit JS -->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js")
    script(src="/javascripts/script.js")