<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title=title
    link(rel="stylesheet" href="/stylesheets/style.css")
  body

    a(href="/") Home
    a(href="/new-event") Crear evento

    block content

    script(src="/javascripts/script.js")