$primary: #00b7ff;

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: $primary;
}

.auction-form-image {
  width: 260px;
  height: 260px;
}

.profile-image {
  width: 260px;
  height: 260px;
  display: inline-block;
}

@media (min-width: 640px) {
  .uk-countdown-number {
    font-size: 1rem;
  }
}
