mixin authform(register, error)
  form(action=register ? "/signup" : "/login" class="uk-form-stacked" method="post")
    if register
      .uk-margin
        label(class="uk-form-label" for="username") Username
        .uk-inline
          span.uk-form-icon(uk-icon='icon: user')
          input.uk-input(type='text' name="username")
    .uk-margin
      label(class="uk-form-label" for="email") Email
      .uk-inline
        span.uk-form-icon(uk-icon='icon: mail')
        input.uk-input(type='email' name="email")
    .uk-margin
      label(class="uk-form-label") Password
      .uk-inline
        span.uk-form-icon(uk-icon='icon: lock')
        input.uk-input(type='password' name="password")
    if register    
      .uk-margin
        label(class="uk-form-label") Confirm password
        .uk-inline
          span.uk-form-icon(uk-icon='icon: lock')
          input.uk-input(type='password' name="confirm-pass")
    if errorMessage
      .uk-alert-danger.uk-width-1-1(uk-alert)
        p #{errorMessage}
    button.uk-button.uk-button-primary(type="submit")=register ? "Register" : "Login"